* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  width: 100%;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: aqua;
  height: 90px;
}

.main {
  grid-area: main;
  background-color: bisque;
  height: calc(100vh - 200px);
}

.footer {
  grid-area: footer;
  background-color: pink;
  height: 110px;
}
